<article
    class="doc" 
    style="
        text-align: center;
        height: 75vh;
        display: grid;
        place-items: center;
        place-content: center;
    "
>
    <h1 class="page">
        Page Not Found
    </h1>
    <div class="paragraph">
        <p>
            The page you are looking for no longer exists.
        </p>
    </div>
    <div class="paragraph">
        <p>
            If you believe this is a mistake, please help by
            <a
                style="cursor:pointer;text-decoration:none;"
                target="_blank"
                onclick="this.href=`https://github.com/starknet-io/starknet-docs/issues/new?assignees=landauraz&title=${encodeURIComponent(window.location.href)} is broken`"
            >submitting an issue</a>.
        </p>
    </div>
    <div class="paragraph">
        <a href="{{{site.homeUrl}}}" style="text-decoration:none;">
            <h1 style="font-size:1.1rem;">
                Click here to go to the docs homepage
            </h1>
        </a>
    </div>
</article>
