<aside class="toc sidebar" data-title="{{{or page.attributes.toctitle 'Contents'}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  <div class="edit-this-page">
    <a href="{{page.editUrl}}"><img class="pencil">EDIT PAGE</a>
  </div>
  <div class="toc-menu">
  </div>
</aside>