*::before, ::after {
  border-color: var(--chakra-colors-gray-200);
}

:where(*, *::before, *::after) {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  word-wrap: break-word;
}

.home-cta-container {
  display: flex;
}

.cta-image-container {
  background-image: url('_images/developers.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center; s
  align-items: center;
  height: 8em;
  margin-bottom: 10px;
  margin: 8px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: linear-gradient(180.15deg, var(--chakra-colors-chakra-body-text) 0.2%, var(--chakra-colors-chakra-body-bg) 105.43%);
  overflow: hidden;
}

.image-container img {
  z-index: -1;
}

.cta-image {
  max-width: 464px;
  max-height: 100%;
}

.home-cta {
  flex: 1;
  margin: 8px 8px 0 8px;
  padding: 20px;
  background-color: var(--chakra-colors-chakra-body-bg);
  border: 1px solid rgb(226, 232, 240);
  border-bottom: 1px solid rgb(226, 232, 240);
  border-radius: 20px;
  color: var(--chakra-colors-card-link-fg);
  font-size: 18px;
  font-weight: var(--chakra-fontWeights-medium);
  text-decoration: none;
  transition: background-color 0.15s, border-color 0.15s, color 0.15s;
  box-sizing: border-box;
  position: relative;
  background-image: linear-gradient(180.15deg, var(--chakra-colors-gradient-blue-default-a) 0.2%, var(--chakra-colors-gradient-blue-default-b) 105.43%);
  overflow: hidden;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.home-cta-first {
  margin-left: 0;
}

.chakra-card__body.css-jintet {
  font-size: 14px;
}

.column-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.home-cta-container .home-cta:hover {
  text-decoration: none;
  border-color: #C506E4;
}
